## Observations and Insights

In [22]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata_df = pd.read_csv(mouse_metadata_path)
study_results_df = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined = pd.merge(mouse_metadata_df, study_results_df, on='Mouse ID', how="outer") 

# Display the data table for preview
combined.head(20)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1

In [23]:
# Check the number of mice.
# variable to hold the count
cnt = 0

unique_ids = []
for i in range(0, len(combined['Mouse ID'])):
    
    if combined['Mouse ID'][i] not in unique_ids: 
        
        unique_ids.append(combined['Mouse ID'][i])
          
        cnt += 1
  
print("No. of mice :",
      cnt)
  
# print("unique values :",
#       unique_ids)

No. of mice : 249

In [29]:
# Find any duplicate rows with the same Mouse ID's and Timepoints. 
# Drop any duplicate rows
# Recheck the number of mice
dupcnt = combined.loc[combined.duplicated(
  subset = ['Mouse ID', 'Timepoint']),'Mouse ID'].unique()
# Checking the number of mice in the clean DataFrame.
clean_data = combined[combined['Mouse ID']
                         .isin(dupcnt)==False]

number_mice=clean_data["Mouse ID"].value_counts()
clean_mice=len(number_mice)
clean_mice

print("No. of mice after clean :",
      clean_mice)

No. of mice after clean : 248

## Summary Statistics

In [35]:
# Generate a summary statistics table of mean, median, variance, 
# standard deviation, and SEM of the tumor volume for each regimen.
drug_info = clean_data.groupby("Drug Regimen")
drug_info1= pd.DataFrame(drug_info.count())
drug_info1["Mean"]= pd.DataFrame(drug_info["Tumor Volume (mm3)"].mean())
drug_info1["Median"]= pd.DataFrame(drug_info["Tumor Volume (mm3)"].median())
drug_info1["Variance"]= pd.DataFrame(drug_info["Tumor Volume (mm3)"].var())
drug_info1["Std"]= pd.DataFrame(drug_info["Tumor Volume (mm3)"].std())
drug_info1["Sem"]= pd.DataFrame(drug_info["Tumor Volume (mm3)"].sem())


drug_info1= drug_info1[["Mouse ID", "Mean", "Median", "Variance", "Std", "Sem"]]
drug_info1 = drug_info1.rename(columns = {"Mouse ID" : "Count"})
drug_info1

              Count       Mean     Median   Variance       Std       Sem
Drug Regimen
Capomulin       230  40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin        178  52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol       178  52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril        188  55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol        186  54.331565  52.509285  66.173479  8.134708  0.596466
Placebo         181  54.033581  52.288934  61.168083  7.821003  0.581331
Propriva        148  52.320930  50.446266  43.852013  6.622085  0.544332
Ramicane        228  40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn        181  54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol       182  53.236507  51.818479  48.533355  6.966589  0.516398

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of datapoints for each drug regimen using pandas.
# There should be a single bar per regimen

In [10]:
# Generate identical bar plot using pyplot instead of pandas.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate identical pie plot using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# HINT: Not all mice lived until timepoint 45
# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

Calculate the quartiles and IQR and quantitatively determine if there are any potential outliers across all four treatment regimens.

In [14]:
# Calculate quartiles, IQR, and identify potential outliers for each regimen.

# One method to do this is the following, but you can use whatever method works for you.

##############################################################################
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest
# There should be a single chart with four box plots inside it.

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a single mouse 
# treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight 
# for all mice in the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen

# Observations and Insights